doctype html
html
  head
    meta charset='utf-8'
    link href='css/main.css' rel='stylesheet'

  body
    .page
      .header
        .container
          .header_logo
            img src='img/icon/logo.png'
          .main-nav
            .main-nav_item О компании
            .main-nav_item Работы
            .main-nav_item Клиенты
            .main-nav_item Работа у нас
            .main-nav_item Контакты
          .header_btn
            img src='img/icon/header-btn.png'


      .page-section.page-section__main
        .container
          .main_logo
            img src='img/icon/main-logo.png'
          .main_title
            | мы делаем
            span
              b рекламу
              |  и
              b  креатив


      .page-section.page-section__about
        .container
          .page_title О компании
          .about_title
            span TWIGA –
            pre   крупнейшая независимая коммуникационная группа в России и странах СНГ. Член Ассоциации
                коммуникационных агентств России (АКАР) с 1997 года.
          .about_desc
            pre Мы создаем бренды, выстраивая для них коммуникационные платформы, создавая
                    коммуникационные кампании и рекламные продукты. Мы помогаем компаниям найти
                        своих потребителей через различные медиаканалы и в точках продаж, выделиться
                            среди конкурентов и донести до аудитории все преимущества своих брендов
          .about_stats
            .about_stat
              .about_stat_info 1993
              .about_stat_title год основания компании
            .about_stat
              .about_stat_info
                span топ-
                | 10
              .about_stat_title креативных агентств россии
            .about_stat
              .about_stat_info 113,4
              .about_stat_title млн $, оборот за 2011 год
          .about_achievements
            .about_achievement
              span 40
              |  Наград
            .about_achievement
              span 304
              |  Проекта
            .about_achievement
              span 485
              |  Клиентов
            .about_achievement
              span 7K+
              |  Кружек кофе
          .about_column.about_column__services
            .about_column_title услуги
            .about_column_list
              .about_column_list_item Интегрированные коммуникации
              .about_column_list_item Интернет разработки
              .about_column_list_item Коммуникации в области здравоохранения
              .about_column_list_item Мобильный маркетинг
              .about_column_list_item Мультимедийные разработки
              .about_column_list_item Потребительский маркетинг
              .about_column_list_item Производство кино-, видео- и аудио-продукции
              .about_column_list_item Производство печатной продукции
              .about_column_list_item Реклама
              .about_column_list_item Рекламный креатив
              .about_column_list_item Связи с общественностью
              .about_column_list_item Событийный маркетинг
              .about_column_list_item Создание торговой марки
              .about_column_list_item Специализированные коммуникации
              .about_column_list_item Торговый маркетинг
              .about_column_list_item Управление медийными инвестициями
              .about_column_list_item Фирменный стиль
          .about_column.about_column__agencies
            .about_column_title Агентства группы twiga
            .about_column_list
              .about_column_list_item BeWeb
              .about_column_list_item InTown
              .about_column_list_item Media Firs
              .about_column_list_item MedInform
              .about_column_list_item OGGI
              .about_column_list_item TT Design
              .about_column_list_item TWIGA PR
              .about_column_list_item TWIGA TOUCH
              .about_column_list_item ПОLЕ

      .page-section.page-section__contacts
        .container
          .page_title Контакты
          .contacts
            .contact
              .contact_city Москва
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru
            .contact
              .contact_city Санкт-петербург
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru
            .contact
              .contact_city Минск
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru
            .contact
              .contact_city Киев
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru
            .contact
              .contact_city Ереван
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru
            .contact
              .contact_city Алматы
              .contact_adress 105120,  4-й Сыромятнический переулок, дом 1/8, строение 6
              .contact_phone +7 495 987 35 95
              .contact_mail info@twiga.ru

      .footer
        .container
          .footer_logo
            img src='img/icon/footer-logo.png'
