.question {
  display: inline-block;
  width: 450px;
  margin: 40px 0 0;

  &:nth-child(2n+2) {
    margin-left: 110px;
  }
}

.question_title {
  color: #5db057;
  font-family: 'PFDinTextPro';
  font-size: 24px;
}

.question_text {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
  color: #8c9494;
  font-family: 'Tahoma';
  font-size: 14px;
  line-height: 1.75;
}
