@font-face {
  font-family: 'FuturaNewDemi';
  src:         url('../fonts/FuturaNewDemi.otf') format('opentype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'OpenSans';
  src:         url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: 'OpenSans';
  src:         url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  font-family: 'OpenSans';
  src:         url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'PFAgoraSansPro';
  src:         url('../fonts/PFAgoraSansPro.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'PTSansCaption';
  src:         url('../fonts/PT_Sans-Caption-Web-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  font-family: 'PTSansCaption';
  src:         url('../fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  font-family: 'MuseoSansCyrl';
  src:         url('../fonts/MuseoSansCyrl.otf') format('opentype');
  font-weight: 700;
  font-style:  normal;
}
