doctype html
html
  head
    meta charset='utf-8'
    link href='css/main.css' rel='stylesheet'
    script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC-YcZQetzwoOxUEjX_SPZU2aBxuUUEmvg"
    script type="text/javascript" src="javascripts/jquery-2.2.3.min.js"
    javascript:
      $(function() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 59.91716155, lng: 30.34333835},
          scrollwheel: false,
          zoom: 13
        });
      })

  body
    .page
      .header
        .container
          .header_contacts
            span 8 812 345 84 45
            |  г. Сургут
          .header_logo
            img src='img/icon/logo.png'
          .main-nav
            .main-nav_item.is-active Главная
            .main-nav_item Заказать
            .main-nav_item Вопросы
            .main-nav_item Контакты

      .page-section.page-section__products
        .container
          .page_title Наша продукция
          .preview-list
            .preview
              .preview_img
                img src='img/product.jpg'
              .preview_title Керамзитный блок
              .preview_desc
                dl
                  dt Морозостойкость:
                  dd -50C
                dl
                  dt Габариты:
                  dd 30х34х50
                dl
                  dt Вес:
                  dd 2 кг
                dl
                  dt Прочность:
                  dd 345
              .preview_btn Заказать
              .preview_price
                dl
                  dt Цена:
                  dd
                    span 20
                    | р/шт
            .preview
              .preview_img
                img src='img/product.jpg'
              .preview_title Керамзитный блок
              .preview_desc
                dl
                  dt Морозостойкость:
                  dd -50C
                dl
                  dt Габариты:
                  dd 30х34х50
                dl
                  dt Вес:
                  dd 2 кг
                dl
                  dt Прочность:
                  dd 345
              .preview_btn Заказать
              .preview_price
                dl
                  dt Цена:
                  dd
                    span 20
                    | р/шт
            .preview
              .preview_img
                img src='img/product.jpg'
              .preview_title Керамзитный блок
              .preview_desc
                dl
                  dt Морозостойкость:
                  dd -50C
                dl
                  dt Габариты:
                  dd 30х34х50
                dl
                  dt Вес:
                  dd 2 кг
                dl
                  dt Прочность:
                  dd 345
              .preview_btn Заказать
              .preview_price
                dl
                  dt Цена:
                  dd
                    span 20
                    | р/шт
            .preview
              .preview_img
                img src='img/product.jpg'
              .preview_title Керамзитный блок
              .preview_desc
                dl
                  dt Морозостойкость:
                  dd -50C
                dl
                  dt Габариты:
                  dd 30х34х50
                dl
                  dt Вес:
                  dd 2 кг
                dl
                  dt Прочность:
                  dd 345
              .preview_btn Заказать
              .preview_price
                dl
                  dt Цена:
                  dd
                    span 20
                    | р/шт

      .page-section.page-section__order
        .container
          .order_title
            | Закажите образец
            span  бесплатно
          .order_desc Мы понимаем, что сделать выбор гораздо проще, если есть возможность увидеть и потрогать материал своими руками, поэтому Вы можете оставить свои контактные данные  в полях, которые находятся ниже, наш менеджер свяжется с Вами и уточнит информацию, куда и какой товар привезти.
          .order_form
            input placeholder='Как Вас зовут?'
            input placeholder='Номер телефона'
            .order_form-btn ОСТАВИТЬ ЗАЯВКУ ПРЯМО СЕЙЧАС
          .order_contacts
            .order_contacts-text Или свяжитесь с нами любым удобным для Вас способом:
            .order_contacts-phone 8 800 2000 600
            .order_contacts-mail office@buildteco.ru

      .page-section.page-section__features
        .container
          .page_title Наши преимущества
          .features-list
            .feature.feature__certificate
              p Сертифицированный продукт
            .feature.feature__production
              p Масштабное производство
            .feature.feature__stock
              p Собственный склад
            .feature.feature__payment
              p Возможна рассрочка
            .feature.feature__delivery
              p Доставка
          .feature-desc
            .feature-desc_icon
              img src='img/icon/feature-production.png'
            .feature-desc_title Масштабное производство
            .feature-desc_text На нашем заводе производится большое кол-во продукции. Более 30 кубов в сутки, что выделяет нашу компанию среди конкурентов и делает лидерами по производству строительных материалов на рынке г. Сургут.
            .feature-desc_btn Оставить заявку

      .page-section.page-section__faq
        .container
          .page_title Часто задаваемые вопросы
          .question-list
            .question
              .question_title Сколько стоит доставка?
              .question_text Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.
            .question
              .question_title Сколько стоит доставка?
              .question_text Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.
            .question
              .question_title Сколько стоит доставка?
              .question_text Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.
            .question
              .question_title Сколько стоит доставка?
              .question_text Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.
            .question
              .question_title Сколько стоит доставка?
              .question_text Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.

      #map

      .footer
        .container
          .footer_contacts
            span 8 812 345 84 45
            |  г. Сургут, ул. Ленина 240
          .footer_logo
            img src='img/icon/logo.png'
          .main-nav
            .main-nav_item Главная
            .main-nav_item Заказать
            .main-nav_item Вопросы
            .main-nav_item Оплата
            .main-nav_item Доставка
            .main-nav_item Контакты
