doctype html
html
  head
    meta charset='utf-8'
    link href='css/main.css' rel='stylesheet'

  body
    .page
      .container
        .header
          .header_logo
            img src='img/icon/logo.png'
          .login-btn Sing in
          .cart-btn
            | Cart
            span  (2)
          .search-btn Search
          .main-nav
            .main-nav_item.is-active Footwear
            .main-nav_item Clothing
            .main-nav_item Accessories
            .main-nav_item Brands
            .main-nav_item Exclusive


        .product-page
          .product
            .product_icon
              img src='img/icon/product.png'
            .product_about
              .product_like
              .product_mark Nike
              .product_name AIR MAX TAVAS SD
              .product_price $ 160.00
              .product_colors
                .product_colors_title Colors -
                a.product_color Black
                a.product_color Pink Pow
                a.product_color Tour Yellow
                a.product_color White
                .product_colors_previews
                  .product_colors_preview
                    img src='img/icon/preview-1.png'
                  .product_colors_preview
                    img src='img/icon/preview-2.png'
              .product_size
                .product_size_title Size charts
                .product_size_form Size
              .product_add_to_cart add to cart

        .product-about
          .product-about_title CLASSIC CUSHIONING. MODERN
          .product-about_text The Nike Air Max Tavas SD Men's Shoe recalls the profile of the iconic running original with a Max Air unit in the heel and multi-surface Waffle outsole. A lightweight upper and gradient detail offer a comfortable fit and dynamic look.

        .product-info
          .product-info_box
            .product-info_box_title Nike
            .product-info_box_mark Air max Tavas SD
            .product-info_box_colors
              .product-info_box_color Black
              .product-info_box_color Pink Pow
              .product-info_box_color Tour yellow
              .product-info_box_color White
            .product-info_box_img
              img src='img/icon/product-box.png'
            .product-info_box_price $160.00
            .product-info_box_stock En stock
            .product-info_box_size Size
            .product-info_box_add_to_cart add to cart

          .product_subtitle Story
          .product_desc
            .product_desc_title NIKE AIR MAX ORIGINS
            .product_desc_text Nike's revolutionary Air-Sole unit made its way into Nike footwear in the late '70s. In 1987, the Nike Air Max 1 debuted with visible air in its heel, allowing fans more than just the feel of Air-Sole comfort
          .product_benefits
            .product_subtitle BENEFITS
            .product_benefit
              .product_benefit_title Layered textile/synthetic upper
              .product_benefit_desc for lightweight durability and comfort
            .product_benefit
              .product_benefit_title Injected Phylon midsole doubles
              .product_benefit_desc Outsole to reduce the overall weight of the shoe
            .product_benefit
              .product_benefit_title Max Air heel unit
              .product_benefit_desc delivers maximum lightweight cushioning
            .product_benefit
              .product_benefit_title Rubber Waffle outsole
              .product_benefit_desc Durable, multi-surface traction

        .product-photos
          .product_subtitle social
          .product-photos_title #NIKEAIRMAX
          .product-photos_list
            .product-photo
              img src='img/icon/photo1.jpg'
            .product-photo
              img src='img/icon/photo2.jpg'
            .product-photo
              img src='img/icon/photo3.jpg'
            .product-photo
              img src='img/icon/photo4.jpg'
